Creating a new database in the connector.

In [1]:
import mysql.connector as mc

try:
    con_obj=mc.connect(user="root",password="root",host="localhost")
    cur_obj=con_obj.cursor()
    cur_obj.execute("create database if not exists employee")
    print("new database created")
except Exception as e:
    print(e)

new database created

Creating a new table into the existing database.

In [2]:
import mysql.connector as mc

try:
    con_obj=mc.connect(user="root",password="root",host="localhost")
    curobj=con_obj.cursor()
    curobj.execute("create table employee.empdata(empid int(20),ename varchar(20),desg varchar(20),experience int(20))")
    print("table created")
except Exception as e:
    print(e)

table created

insert the values into the table.

In [3]:
import mysql.connector as mc

try:
    con_obj=mc.connect(user="root",password="root",host="localhost")
    curobj=con_obj.cursor()
    curobj.execute("insert into employee.empdata(empid,ename,desg,experience) values(100,'abdul','founder',5)")
    con_obj.commit()
    print("data is inserted")
except FileNotFoundError as fe:
    print(fe)

data is inserted

program to insert multiple values to database table at the same time.

In [6]:
import mysql.connector as mc

try:
    con_obj=mc.connect(user="root",password="root",host="localhost")
    curobj=con_obj.cursor()
    query="insert into employee.empdata(empid,ename,desg,experience) values(%s,%s,%s,%s)"
    values=[(100,'abdul','founder',10),
            (200,'tarun','CEO',8),
            (300,'shreya','Patner',4),
            (400,'deepika','HR',5),
            (500,'nisha','Project_manager',5)]
    curobj.executemany(query,values)
    con_obj.commit()
    print("data is inserted")
except FileNotFoundError as fe:
    print(fe)

data is inserted

WAP to read the data from employee table of employee database abd if the employee present login the employee to respective dashboard.
accept the empname from the user input.

In [2]:
import mysql.connector as mc
def emp_dashboard(name):
    print(f"{name} welcome to your dashboard")
try:
    con_obj=mc.connect(user="root",password="root",host="localhost")
    cur_obj=con_obj.cursor()
    cur_obj.execute("select ename from employee.empdata")
    emp_name=input("enter employee name:")
    for ename in cur_obj:
        if ename[0]==emp_name:
            emp_dashboard(emp_name)
except Exception as e:
    print(e)

tarun welcome to your dashboard