In [5]:
import mysql.connector as mc
con_obj=mc.connector.connect(
    user="root",
    password="root",
    host="localhost"
)
print(con_obj)

AttributeError: module 'mysql.connector' has no attribute 'connector'

programm to display all the databases present in MYSQL

In [4]:
import mysql.connector as mc

try:
    con_obj=mc.connect(user="root",password="root",host="localhost")
    curobj=con_obj.cursor()
    curobj.execute("show databases")
    for i in curobj:
        print(i)
except Exception as e:
    print(e)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('temp',)
('world',)

to create a new database that is not exist.

In [4]:
import mysql.connector as mc

try:
    con_obj=mc.connect(user="root",password="root",host="localhost")
    curobj=con_obj.cursor()
    curobj.execute("create database if not exists student ")
    print("new database created")
except Exception as e:
    print(e)

new database created

programm to create new table, which is get added to the database.

In [9]:
import mysql.connector as mc

try:
    con_obj=mc.connect(user="root",password="root",host="localhost")
    curobj=con_obj.cursor()
    curobj.execute("create table student.std_info(usn varchar(20),name varchar(20),degree varchar(20),stream varchar(20), marks int(10),grade varchar(5))")
    print("table created")
except Exception as e:
    print(e)

table created

to insert a values to table.

In [7]:
import mysql.connector as mc

try:
    con_obj=mc.connect(user="root",password="root",host="localhost")
    curobj=con_obj.cursor()
    curobj.execute("insert into student.std_info(usn,name,degree,stream,marks,grade) values(123,'amar','BE','cs',65,'A')")
    con_obj.commit()
    print("data is inserted")
except FileNotFoundError as fe:
    print(fe)

data is inserted

program to insert multiple values to database table at the same time.

In [8]:
import mysql.connector as mc

try:
    con_obj=mc.connect(user="root",password="root",host="localhost")
    curobj=con_obj.cursor()
    query="insert into student.std_info(usn,name,degree,stream,marks,grade) values(%s,%s,%s,%s,%s,%s)"
    values=[(234,'don','BE','mech',75,'A'),(345,'devil','Bsc','CS',87,'A'),(456,'pushpa','Bcom','Brand',35,'C'),(785,'king','BCA','CS',56,'A'),(596,'Queen','BE','civil',67,'A')]
    curobj.executemany(query,values)
    con_obj.commit()
    print("data is inserted")
except FileNotFoundError as fe:
    print(fe)

data is inserted

to get students wwho scored above 55 and below 85.

In [9]:
import mysql.connector as mc

try:
    con_obj=mc.connect(user="root",password="root",host="localhost")
    curobj=con_obj.cursor()
    curobj.execute("select * from student.std_info where marks>=55 and marks<=85")
    for std in curobj:
        print(std)
except FileNotFoundError as fe:
    print(fe)

('123', 'amar', 'BE', 'cs', 65, 'A')
('234', 'don', 'BE', 'mech', 75, 'A')
('785', 'king', 'BCA', 'CS', 56, 'A')
('596', 'Queen', 'BE', 'civil', 67, 'A')

update functionality

In [5]:
# import mysql.connector as mc

# try:
#     con_obj=mc.connect(user="root",password="root",host="localhost")
#     curobj=con_obj.cursor()
#     curobj.execute("update employee.empdata set desg='sd1' where experience=3")
#     con_obj.commit()
#     print(curobj.rowcount,"rows are updated")
# except FileNotFoundError as fe:
#     print(fe)

deletion.

In [1]:
# import mysql.connector as mc

# try:
#     con_obj=mc.connect(user="root",password="root",host="localhost",database="userdata")
#     curobj=con_obj.cursor()
#     curobj.execute("delete from userdata.user_info")
#     con_obj.commit()
#     print(curobj.rowcount,"rows are updated")
# except FileNotFoundError as fe:
#     print(fe)

0 rows are updated

In [2]:
import mysql.connector as mc

try:
    con_obj = mc.connect(
        host="localhost",
        user="root",
        password="root",
        database="userdata"  # Specify the database name here
    )
    curobj = con_obj.cursor()

    # Use DROP TABLE to delete the table
    curobj.execute("DROP TABLE user_info") 

    con_obj.commit()
    print("Table 'user_info' deleted successfully.")

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    con_obj.close()

Table 'user_info' deleted successfully.

In [3]:
import mysql.connector

try:
    # Connect to the MySQL server (without specifying the database)
    con_obj = mysql.connector.connect(
        host="localhost",
        user="root",
        password="root"
    )
    curobj = con_obj.cursor()

    # Execute the DROP DATABASE command
    curobj.execute("DROP DATABASE userdata") 

    con_obj.commit()
    print("Database 'userdata' deleted successfully.")

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    con_obj.close()

Database 'userdata' deleted successfully.

WAP to create a database and then need to create a table inside the newly created database with the columns like name, age, phone, address and then accept each data from user input and need to do the validation for name age and phone number.
if the validation is sucess store the data into the table.

In [6]:
import mysql.connector as mc
try:
    con_obj=mc.connect(user="root",password="root",host="localhost")
    cur_obj=con_obj.cursor()
    print("connection established")
    try:
        cur_obj.execute("create database userdata")
        print("database is created")
        try:
            cur_obj.execute("create table userdata.user_info (name varchar(20), age int(10), phone int(10), address varchar(20))")
            print("table is created")
            try:
                name=input("enter name:")
                age=int(input("enter age:"))
                phone= int(input("enter phone_number:"))
                address=input("enter address:")
                query="insert into userdata.user_info(name, age, phone,address) values(%s,%s,%s.%s)"
                values=[("deepika", 22, 8792137096,"chelur"),("shreya",22,794131196,'theni'),("nisha",23,8795654135,"udupi"),("abdul",25,7894561238,'kavali'),("tarun",52,7895422333,"nellur")]
                cur_obj.execute(query,values)
                con_obj.commit()
                print("data is inserted")
            except Exception as e:
                print(e)
        except Exception as e:
          print(e)
    except Exception as e:
            print(e)
except Exception as e:
        print(e)

connection established
database is created
table is created
Python type tuple cannot be converted

WAP to read the data from employee table of employee database and ifnthe employee is present login the employee to respective dashboard.
accept the empname from user input.

In [ ]:
import mysql.connector as mc
def emp_dashboard(name):
    print(f"{name} welcome to your dashboard")
try:
    con_obj=mc.connect(user='root',password='root',host='localhost')
    cur_obj=con_obj.cursor()
    cur_obj.execute("select name from employee.empdata")
    emp_name=input("enter the employee name:")
    for emp in cur_obj:
        if emp[0]==emp_name:
            emp_dashboard(emp_name)
except Exception as e:
    print(e)