# DATAFRAMES

In [1]:
import pandas as pd
l=['a','b','c','d']
l1=[['a','b'],['c','d']]
df=pd.DataFrame(l)
print(df)
print(type(df))

   0
0  a
1  b
2  c
3  d
<class 'pandas.core.frame.DataFrame'>

In [2]:
import pandas as pd
l1=[['a','b'],['c','d']]
df=pd.DataFrame(l)
print(df)
d={"id":[100,101,102],
   "name":["smith","allen","ward"],
   "age":[20,28,25],
   "loc":['bangalore',"chennai","mumbai"]}
df=pd.DataFrame(d)
print(df)
df=pd.DataFrame(d,index=['r1','r2','r3'])
print(df)
df=pd.DataFrame(d,columns=['id','age'])
print(df)

   0
0  a
1  b
2  c
3  d
    id   name  age        loc
0  100  smith   20  bangalore
1  101  allen   28    chennai
2  102   ward   25     mumbai
     id   name  age        loc
r1  100  smith   20  bangalore
r2  101  allen   28    chennai
r3  102   ward   25     mumbai
    id  age
0  100   20
1  101   28
2  102   25

In [5]:
df['id']
d1=df[['id','age']]
# d2=df['id'][-1]
d3=df[['id','age']][::-1]
d4=df['id'][[0,2]]
print(d1)
# print(d2)
print(d3)
print(d4)

    id  age
0  100   20
1  101   28
2  102   25
    id  age
2  102   25
1  101   28
0  100   20
0    100
2    102
Name: id, dtype: int64

In [7]:
# d=1.3
# Df=pd.DataFrame(d)
# print(Df)
d=[1,2,3,4,5]
df=pd.DataFrame(d)
print(df)
d=[1.2,2.3,3.3,4.4,5.5]
df=pd.DataFrame(d)
print(df)
d=[1+2j,2+4j,3+4j,4+5j,5+2j]
df=pd.DataFrame(d)
print(df)
d=(1,2,3,4,5)
df=pd.DataFrame(d)
print(df)
d={1,2,3,4,4,5}
df=pd.DataFrame(d)
print(df)

   0
0  1
1  2
2  3
3  4
4  5
     0
0  1.2
1  2.3
2  3.3
3  4.4
4  5.5
          0
0  1.0+2.0j
1  2.0+4.0j
2  3.0+4.0j
3  4.0+5.0j
4  5.0+2.0j
   0
0  1
1  2
2  3
3  4
4  5
   0
0  1
1  2
2  3
3  4
4  5

# BASIC OPERATIONS ON DATAFRAMES

In [2]:
import pandas as pd

In [3]:
d={'name':['smith','allen'],
'age':[20,24]}
df=pd.DataFrame(d)
print(df)
df['age'] = df['age']+5
print(df)
df['name']=='smith'
df[df['name']=='smith']

    name  age
0  smith   20
1  allen   24
    name  age
0  smith   25
1  allen   29

    name  age
0  smith   25

In [ ]:
(df['age']==29) & (df['name']=='allen') # for logical operators.
df[(df['age']==29) & (df['name']=='allen')]
df['age']=50
print (df)
df['sal']=15000
print (df)

    name  age
0  smith   50
1  allen   50
    name  age    sal
0  smith   50  15000
1  allen   50  15000